[Unit]
Description=Run Linux Health Check Every 15 Minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
Unit=linux-health-check.service

[Install]
WantedBy=timers.target
