<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>{{ page_heading }}</h1>
    <p>Managed automatically by Ansible.</p>
    <p>Host: {{ ansible_facts['hostname'] }}</p>
</body>
</html>
